.error {
    margin-top: 10px;

    color: #ff0000;
}

/*ng-dirty dla pola z hasłem*/
.ng-dirty.ng-invalid,
.ng-touched.ng-invalid {
    border-color: #ff0000;
}

.ng-dirty.ng-valid {
    border-color: #24B739;
}